/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	vertical-align: baseline;
    list-style:none outside none;
}

body {	line-height: 1;	}
ol, ul {	list-style: none; }
blockquote, q {	quotes: none;	}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none;	}

/* remember to define focus styles! */
:focus {	outline: 0;	}

/* remember to highlight inserts somehow! */
ins {	text-decoration: none;	}
del {	text-decoration: line-through;	}

/* tables still need 'cellspacing="0"' in the markup */
table {	border-collapse: collapse;	border-spacing: 0;	}


/* clearfix is awesome! */
.clear {
	height: 0px !important;
	line-height: 0 !important; /* if causing problems, remove */
	clear: both !important;
	font-size: 1px !important;
	float: none !important;
	padding: 0px !important;
	margin: 0px !important;
	width: auto !important;
	display: block !important;
	visibility: hidden !important;
	overflow: hidden !important;
}
.clearfix:after  {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/* 2. Collumn Layout */

.one-half, .one-third, .two-thirds,
.one-fourth, .three-fourths, .one-fifth,
.two-fifths, .three-fifths, .four-fifths,
.one-sixth, .five-sixths { float: left; margin: 0 30px 30px 0; }
.one { width: 865px; float: left; margin-bottom: 30px; }
.one-half { width: 465px; }
.one-third { width: 300px; }
.two-thirds { width: 630px; }
.one-fourth { width: 217px; }
.three-fourths { width: 711px; }
.one-fifth { width: 168px; }
.two-fifths { width: 366px }
.three-fifths { width: 564px; }
.four-fifths { width: 762px; }
.one-sixth { width: 135px; }
.five-sixths { width: 795px; }
.group { float: left; width: 100%; }
.block { float: left; width: 100%; margin-bottom: 30px; }
.last { margin-right: 0 !important; }
.clear { clear: both; }

.full .one {
    width: 865px;
}
.pagecontent-right .one, .pagecontent .one {
    width: 550px;
}
.full .one-third {
    width: 270px;
}
.full .two-thirds {
    width: 570px;
}
.pagecontent-right .two-thirds, .pagecontent .two-thirds {
    width: 350px;
}
.pagecontent-right .one-third, .pagecontent .one-third {
    width: 160px;
}
.full .one-fourth {
    width: 195px;
}
.full .three-fourths {
    width: 645px;
}
.pagecontent-right .three-fourths, .pagecontent .three-fourths {
    width: 398px;
}
.pagecontent-right .one-fourth, .pagecontent .one-fourth {
    width: 112px;
}
.full .one-half {
    width: 420px;
}
.pagecontent-right .one-half, .pagecontent .one-half {
    width: 255px;
}
.full .one-fifth {
    width: 150px;
}
.pagecontent-right .one-fifth, .pagecontent .one-fifth {
    width: 84px;
}
.full .two-fifths {
    width: 330px;
}
.pagecontent-right .two-fifths, .pagecontent .two-fifths {
    width: 198px;
}
.full .three-fifths {
    width: 510px;
}
.pagecontent-right .three-fifths, .pagecontent .three-fifths {
    width: 312px;
}
#content .button-small, #content .button-icon, #content .button-big {
    border-bottom: none;
}
body {
    background: #f7f6f1 url(img/texture-tile.jpg) repeat;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
    line-height: 25px;
    word-spacing: 0.1em;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
blockquote {
    display: block;
    font-family: Georgia, arial, serif;
    font-size: 20px !important;
    font-style: italic;
    line-height: 34px;
    padding: 25px 60px;
}
.one-third blockquote {
    font-size: 18px !important;
    line-height: 32px;
    padding: 15px 10px;
}
.one-fourth blockquote {
    font-size: 15px !important;
    line-height: 31px;
    padding: 15px 10px;
}
blockquote, q {
    quotes: none;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

p {
    margin-bottom: 15px;
}
p, h1 {
    text-shadow: 1px 1px 0 #fff;
}
h2 {
    font-weight: normal;
    color: #462E18;
    margin-bottom: 22px;
    font-size: 24px;
    font-family: Georgia, arial, serif;
    text-shadow: 1px 1px 0 rgba(255,255,255,1);
}


a {
    color: #462e18;
    border-bottom: 1px dotted #462e18;
    text-decoration: none!important;
}

a:hover {
	color: #941f02!important;
	border-bottom: 1px solid #941f02!important;
}
.blog_article h1 {
   margin-bottom: 0 !important;
    
}
.blog_article_description h1 {
    margin-bottom: 15px !important;
}
.blog_article h1 a {
    padding: 6px 0;
    border: none !important;
     font-size: 22px;
    line-height: 35px;

}

#widget_pages {
    float: left;
    padding-top: 40px;
}
#widget_pages ul li {
    margin-bottom: 20px;
    padding-left: 15px;
    background: url(img/list-bullet.png) no-repeat 0px 9px;
    float: left;
    margin-right: 20px

}
#widget_pages li {
    float: left;
}
#widget_pages h1, #footer h1 {
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Droid Sans', arial, serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #51707F;
}
#widget_pages p {
    font-size: 11px;
}
#widget_pages .tweet_text {
    width: 170px;
}
#widget_pages .tweet_list li {
    padding-left: 0 !important;
    margin-right: 0 !important;
    background: none !important;
}


#widget_pages #dribbble {
    margin-bottom: 12px;
}
#widget_pages #textwidget {
    margin-bottom: 5px;
}
#header {
    width: 100%;
    float: left;
}
#header-top {
    width: 100%;
    float: left;
    background: url(img/trans.png) repeat;
    padding: 8px 0 5px 0;
    font-size: 11px;
    color: #858585;
    font-family: Georgia, arial, serif !important;
    border-bottom: 1px dashed #ece2d9;
    
}
#header-top b {
    border-bottom: 1px dotted;
    font-weight: normal;
}

#facebook {
    border-bottom: 1px dotted !important;
    color: #3b5998!important;
    padding: 0!important;
}

#facebook:hover {
	border-bottom: 1px solid !important;
	color: #223c73!important;
	
}

.top_social {
    float: right;
}
.top_social li {
    float: left;
}
/* this fixes your floating problem - makes the <li> a "block" that floats properly */
.top_social li:first-child span { display: inline-block; }
.top_social li:first-child span.rss { line-height: 14px; }
/* this fixes the strange blue text in IE7 */
* #header-top a { color: #858585 }


.top_social a {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #d4d4d4;
    border-bottom: none !important;
}
.top_social li:first-child a {
    border-left: none !important;
}
.custom_text {
    margin-left: 20px;
}
.custom_text a {
    border-left: none !important;
    border-bottom: 1px dotted !important;
    margin: 0;
    padding: 0;
}
#logo {
    float: left;
    padding: 55px 0 20px 0;
}
#access ul li:hover > ul {
	display: block;
}
#nav ul li {
     margin-left: 0;
     float: none;
     padding: 5px 0;
 
}
.current-menu-item ul a {
    font-weight: normal !important;
    color: #888888 !important;
}
#nav ul {
display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
        background: #fff;
        padding: 15px 0 15px 20px !important;
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
}
#nav ul li ul {
    left: 180px !important;
    top: -15px !important;
}
#nav ul a {
    font-size: 14px;

}


#nav {
    float: right;
    margin: 68px 0 58px 0;
}
#nav a {
    text-decoration: none;
    letter-spacing: -0.01em;
    text-shadow: 1px 1px 0 rgba(255,255,255,1);
    font: 15px/20px "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #888;
    padding: 25px 0;
}
.active, #nav a:hover, .current-menu-item a {
    color: #444 !important;
}
.active, .current-menu-item a {
    font-weight: bold !important;
}
#nav li {
    float: left;
    margin-left: 30px;
    position: relative;
}
#nav li a{
    border-bottom: none;
}
#nav li a:hover {
    border-bottom: none!important;
}
#submenu {
    float: right;
}
#submenu li {
    float: left;
    margin-left: 35px;
}
#submenu li a {
    color: #888;
    font: 14px/20px "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: -0.01em;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,1);
}
#submenu li a:hover, #banner .current_page_item a {
    color: #cccccc !important;
}
#logo img {
    float: left;
}

#banner {
    width: 100%;
    float: left;
    background: url(img/banner-texture2.jpg) center top repeat;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
}
.page #banner-content, .search #banner-content, .archive #banner-content {
    text-align: left;
    padding: 45px 0;
    float: left;
    width: 100%;
}
.page #banner-content h1, .search #banner-content h1, .archive #banner-content h1 {
    margin-bottom: 0;
    float: left;
}
.homemiddle {
    margin-bottom: 50px; /* what does this do? */
    float: left;
	display: block;
}
#banner-content {
    text-align: center;
    padding: 60px 0;
}
#banner-content h1 {
    color: #462e18;
    font-family: Georgia, arial, serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 0;
    word-spacing: 4px;
    margin-bottom: 25px;
    padding: 7px 7px 10px!important;
    display: inline-block;
    background: url(img/trans.png) repeat;
    border: 1px dotted #ececec;
    
    
}
#banner-content span {
    color: #462e18;
    font: 14px/20px Arial,sans-serif;
    letter-spacing: -0.01em;
    word-spacing: 3px;
    padding:2px 4px;
    display: inline-block;
    background: url(img/trans.png) repeat;
    
}
.page #content, .single #content, .search #content, .archive #content {
    margin-top: 0 !important;
}
.single .sidebar-right {
    float: right !important;
}
#content {
    width: 100%;
    float: left;
}
.pagecontent, .pagecontent-right, pagecontent-left {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background: none repeat scroll 0 0 white;
    padding: 35px 45px 20px 45px;
    width: 540px !important;
}
.full {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    background: none repeat scroll 0 0 white;
    padding: 45px;
    padding-bottom: 20px;
     margin-bottom: 45px;
     float: left;
     width: 870px;
}
#content a, #footer a {
    color: #51707f;
    text-decoration: none;
    border-bottom: 1px dotted;
}
#content a:hover, #footer a:hover {
    color: #678d9f;
}
.tweet_list a, #dribbble a, .blog_thumb_big a {
    border-bottom: none !important;
}
.slider-item img {
	display: block;
}
#slider {
    width: 100%;
    overflow: hidden;
    float: left;
    height: 260px;
    margin: 40px 0 30px 0;
    background: url(img/loading.gif) no-repeat 50% 50%;
    position: relative;
}
#slider ul { position: absolute; left: 0; top: 0; width: 9999px; overflow: visible; }
#slider ul li {
	background: #ffffff;
	padding: 8px;
    float: left;
	margin: 2px 20px 0 0;
    position: relative;
    visibility: none;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}
.slider-item span {
    display: none;
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: url(img/slider-item-bg.png) repeat;
    top: 8px;
    left: 8px;
}
.slider-item span a {
    position: absolute;
}
.green-btn:before {
    content:"";
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:1px solid #a7da98;
    border-bottom: none;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-border-radius: 99px 99px 99px 99px;
}

.green-btn {
    position: relative;
    z-index: 1;
	
	background-color: #81c66e; /* backup colour */
	
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(109,179,88)),
        color-stop(0.56, rgb(134,203,115))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(109,179,88) 12%,
        rgb(134,203,115) 56%
        );
    display: block;
    padding: 7px 21px;
    float: left;
    font: 14px 'Arvo', arial, serif;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #304e27;
    -moz-box-shadow: 0 2px 2px #787878;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-box-shadow: 0 2px 2px #787878;
    -webkit-border-radius: 99px 99px 99px 99px;
    border: 1px solid #69af54;
    border-bottom: none;
}
.green-btn:hover {
    background: #86cb73;
}
.green-btn:active {

    -moz-box-shadow: 0 1px 1px #787878;
    -webkit-box-shadow: 0 1px 1px #787878;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(136,204,117)),
        color-stop(0.62, rgb(130,194,112))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(136,204,117) 24%,
        rgb(130,194,112) 62%
        );

}

.blue-btn:before, .submit:before, .wpcf7-submit:before {
    content:"";
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:1px solid #84bcd8;
    border-bottom: none;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-border-radius: 99px 99px 99px 99px;
}

.blue-btn, .submit, #searchsubmit, .wpcf7-submit {

    position: relative;
    z-index: 1;
	
	background-color: #57abd3; /* backup colour */
	
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(68,158,196)),
        color-stop(0.56, rgb(94,176,217))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(68,158,196) 12%,
        rgb(94,176,217) 56%
        );


    display: block;
    padding: 7px 21px;
    float: left;
    font: 14px 'Arvo', arial, serif;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #2d637c;
    -moz-box-shadow: 0 2px 2px #787878;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-box-shadow: 0 2px 2px #787878;
    -webkit-border-radius: 99px 99px 99px 99px;
    border: 1px solid #4499c0;
    border-bottom: none;
}

.blue-btn:hover, .submit:hover, #searchsubmit:hover, .wpcf7-submit:hover {
    background: #5eb0d9;
}
.blue-btn:active, .submit:active, #searchsubmit:active {

    -moz-box-shadow: 0 1px 1px #787878;
    -webkit-box-shadow: 0 1px 1px #787878;

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(96,177,217)),
        color-stop(0.62, rgb(91,168,207))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(96,177,217) 24%,
        rgb(91,168,207) 62%
        );
}

.orange-btn:before {
    content:"";
    position: absolute;
    z-index: -1;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:1px solid #e0b386;
    border-bottom: none;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-border-radius: 99px 99px 99px 99px;
}
.orange-btn {
    position: relative;
    z-index: 1;
	
	background-color: #dc9857; /* backup colour */
	
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.12, rgb(208,133,64)),
        color-stop(0.56, rgb(223,157,92))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(208,133,64) 12%,
        rgb(223,157,92) 56%
        );
    display: block;
    padding: 7px 21px;
    float: left;
    font: 14px 'Arvo', arial, serif;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #2d637c;
    -moz-box-shadow: 0 2px 2px #787878;
    -moz-border-radius: 99px 99px 99px 99px;
    -webkit-box-shadow: 0 2px 2px #787878;
    -webkit-border-radius: 99px 99px 99px 99px;
    border: 1px solid #c57f3f;
    border-bottom: none;

}

.orange-btn:hover {
    background: #df9d5c;
}
.orange-btn:active {
    -moz-box-shadow: 0 1px 1px #787878;
    -webkit-box-shadow: 0 1px 1px #787878;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.24, rgb(223,159,95)),
        color-stop(0.62, rgb(212,152,92))
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(223,159,95) 24%,
        rgb(212,152,92) 62%
        );
}

.slider-information-wrapper { float: left; width: 100%; height: 45px; position: relative; margin-bottom: 40px; }

.slider-information {
	
	background:url(img/strelki.jpg) #462e18; 
    color: #fff;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #462e18;
    padding: 7px 18px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
	
	/* the below fixes the width problem in IE */
	max-width: 620px;
	margin: 0 auto;
}

.slider-information p {
    float: left;
    font-style: italic;
}
.slider-information span { float: left; } /* this makes the text in the controller sit properly in IE7 */

.controller {
    float: right;
}
.left-arrow {
    background: url(img/left-arrow.png) no-repeat;
    margin-left: 15px !important;
}
.right-arrow {
    background: url(img/right-arrow.png) no-repeat;
}
.left-arrow, .right-arrow {
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.icon {
    float: left;
    margin: 0 25px 15px 0;
}
#footer {
    background: #fff;
    width: 100%;
    float: left;
    padding-top: 45px;
}
.footer_top {
    height: 10px;
    background: url(img/footer-top.png) repeat-x;
    width: 100%;
    float: left;
	margin-top: 40px;
}
#small_footer {
    background: url(img/trans.png) repeat;
    float: left;
    width: 100%;
    padding: 15px 0 10px 0;
    color: #858585;
    font-family: Georgia,arial,serif !important;
    font-size: 11px;
    border-top: 1px dashed #ece2d9;
}
#small_footer a {
    border-bottom: 1px dotted;
    color: inherit;
    text-decoration: none;
}
#small_footer a:hover {
    color: #444;
}
.social {

width: 100%;
float: left;
}
.social2 {
margin: 0 auto;
background: url(img/social.png) no-repeat;
width: 1086px;
height: 823px;
margin-bottom: 30px;
}
.widget_left li, .widget_right li {
    float: left;
}
.textwidget p {
    margin-bottom: 30px;
}
#widget_footer {
    float: left;
}
.alignleft {
    float: left;
    margin: 6px 25px 39px 0;
}
.alignright {
    float: right;
    margin: 6px 0 39px 25px;
}
.aligncenter { margin-left: auto; margin-right: auto; display: block; clear: both; }
.homemiddle {
	display: block;
    margin-bottom: 60px;
	/* pushes the content down properly in IE */
}

	.wp-caption { text-align: center; margin: 15px; font-family: Georgia, serif; font-style: italic; }
	.wp-caption img, .wp-caption img a { margin: 0; padding: 0; border: 0 none; }
	.wp-caption .wp-caption-text { margin: 0; padding: 5px; }
	.wp-smiley { max-height: 13px; margin: 0 !important; }
	
	/* -- 20.6 WP Gallery -- */
	.gallery { margin: auto; }
	.gallery-image { border: 2px solid #efefef; margin-left: 0; }
	.gallery-caption { margin-left: 0; }
	.gallery-item { float: left; text-align: center; margin-left: 0; }
	.gallery-columns-2 { width: 50%; }
	.gallery-columns-3 { width: 33%; }
	.gallery-columns-4 { width: 25%; }
	.gallery-columns-5 { width: 20%; }
	.gallery-columns-6 { width: 16%; }
	.gallery-columns-7 { width: 14%; }
	.gallery-columns-8 { width: 12%; }
	.gallery-columns-9 { width: 11%; }
.social_banner {
    background: #fff;
    padding: 27px 40px;
    float: left;
    width: 880px;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    color: #afafaf;
    font-family: Georgia, arial, serif;
    font-size: 18px;
    text-align: center;
    position: relative;
}
.banner-left {
    position: absolute;
    left: -64px;
    top: 28px;
    background: url(img/banner-left.png);
    width: 84px;
    height: 89px;
}
.banner-right {
    position: absolute;
    right: -63px;
    top: 28px;
    background: url(img/banner-right.png);
    width: 84px;
    height: 89px;
}
.hcs img {
    padding: 5px;
    background: #fff;
    border: 1px solid #d5d5d5;
    width: 200px;
    height: 150px;
}
#footer .hcs img {
    padding: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
    width: 120px;
    height: 90px;
}
#widget_pages .hcs img {
    width: 128px;
    height: 90px;
    padding: 5px;
}
#footer .hcs li {
    margin-right: 10px;
}
.hcs li {
    margin-right: 20px;
    margin-bottom: 15px !important;
     float: left;
}
#dribbble {
    float: left;
}
.tweet_avatar img {
    border: 1px solid #e9e9e9;
}
.tweet_list li {
    padding-bottom: 20px;
    margin-bottom: 10px;
    overflow: hidden;
}
.tweet_list a {
    color: #458a9b;
}
.tweet_avatar {
    float: left;
    margin: 0 25px 0 0;
}
.twitter-date {
    font-size: 11px;
    color: #858585;
    display: block;
   margin-top: 10px;
   color: #777 !important;
   text-decoration: none;
   font-style: italic;
    font-family: Georgia, arial, serif !important;
}
.tweet_text {
    width: 335px;
    float: right;
    line-height: 22px;
    background: none;
    text-decoration: none;
    padding: 20px;
    background: #fff;
    border: 1px solid #e9e9e9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
#footer .tweet_text {
    width: 150px;
    font-size: 12px;
}
.twitter-arrow {
    position: absolute;
    width: 10px;
    height: 19px;
    top: 25px;
    left: -10px;
    background: url(img/twitter-arrow.png);

}
.twitter-date:hover {
    text-decoration: underline;
}
.twitter-title {
    padding-left: 35px;
    line-height: 22px;
    margin-bottom: 25px !important;
    background: url(img/twitter.png) no-repeat top left;
}
.recentpost_title {
    padding-left: 35px;
    line-height: 22px;
    margin-bottom: 25px !important;
    background: url(img/recenticon.png) no-repeat top left;
}
.flickr_title {
    padding-left: 40px;
    line-height: 22px;
    margin-bottom: 20px !important;
    background: url(img/photoicon.png) no-repeat top left;
}
.dribbble_title {
    padding-left: 35px;
    line-height: 22px;
    margin-bottom: 25px !important;
    background: url(img/dribbble.png) no-repeat top left;
}
.flickr_badge_image {
    float: left;
}
.flickr_badge_image img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #d5d5d5;
    height: 70px;
    padding: 6px;
    width: 70px;
    margin: 0 10px 10px 0;
}
#flickr_badge_image5 img, #flickr_badge_image10 img {
    margin-right: 0px !important;
}
#widget_pages #flickr_badge_image5 img, #widget_pages #flickr_badge_image10 img {
    margin-right: 20px !important;
}
#widget_pages #flickr_badge_image3 img, #widget_pages #flickr_badge_image6 img, #widget_pages #flickr_badge_image9 img {
    margin-right: 0px !important;
}
#widget_pages .flickr_badge_image img {
    margin: 0 20px 20px 0;
}
#widget_pages #flickr_badge_wrapper {
    margin-bottom: 15px;
}
#footer #flickr_badge_image3 img, #footer #flickr_badge_image6 img, #footer #flickr_badge_image9 img {
    margin-right: 0px !important;
}
#footer .flickr_badge_image img {
    margin: 0 15px 15px 0;
}
#footer #flickr_badge_image5 img, #footer #flickr_badge_image10 img {
    margin-right: 15px !important;
}
#flickr_badge_wrapper {
    margin-top: 8px;
    float: left;
}
#flickr_badge_wrapper a {
    border-bottom: none !important;
}
#footer li {
    width: 282px !important;
    margin-right: 57px;
}
#dribbble li {
    padding-left: 0 !important;
    background: none !important;
}
#footer #dribbble li {
    width: 133px !important;
}
.home #content .post-content a {
    font-size: 15px;
    padding: 0;
}
.home #content .ddrecentposts li {
    margin-bottom: 35px !important;
}
.ddrecentposts {
    float: left;
    margin-bottom: 15px;
}
.ddrecentposts li {
    margin-bottom: 20px;
    float: left;
    padding-left: 0 !important;
    margin-right: 0 !important;
    background: none !important;
}
.post-thumb {
    float: left;
    margin-right: 20px;
    margin-top: 3px;
}
.post-thumb a {
    border-bottom: none !important;
}
.post-thumb img {
    padding: 5px;
    border: 1px solid #d5d5d5;
    background: #fff;
}
.post-meta .dates a {
    background: none !important;
    padding-left: 0 !important;
}
.dates a {
    font-size: 11px;
    color: #858585;
    display: block;
    border-bottom: none !important;
   color: #666 !important;
   text-decoration: none;
   font-style: italic;
    font-family: Georgia, arial, serif !important;

    background: url("img/date.png") no-repeat scroll 0 6px transparent;

    padding-left: 17px;
}
.post-meta .dates a:hover {
    color: #444 !important;
}
.post-content {
    float: right;
    width: 200px;
}
.post-content a {
    padding: 5px 0;
}
.home .post-content {
    width: 365px;
}
#footer .post-content {
    width: 185px;
}
.blog_thumb_big {
    float: right;
    margin-bottom: 25px;
}
.blog_thumb_big img {
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dcdcdc;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
}
.blog_meta {
    width: 100%;
    float: left;
    margin: 15px 0 0 0;
}

.blog_info {
    float: left;
    width: 150px;

}
.blog_info_wide {
    float: left;
    margin-bottom: 15px;
}
.blog_info_wide .dates, .blog_info_wide .categories, .blog_info_wide .tags {
    display: block;
    margin: 0 25px 10px 0;
}
.blog_info_wide .dates {
    margin-top: 2px !important;
    margin-bottom: 5px !important;
}
.categories {
    background: url("img/category.png") no-repeat scroll 0 8px transparent;
    padding-left: 17px;
    display: block;
    margin-top: 7px;
}
.tags {
    margin-top: 12px;
    float: left;
}
.tagcloud {
    margin-bottom: 20px;
}
.tagcloud a {
    margin-bottom: 5px;
}
.tags a, .widget_tag_cloud a, .tagcloud a {
-moz-border-radius:3px 3px 3px 3px;
-webkit-border-radius:3px 3px 3px 3px;
background:none repeat scroll 0 0 #7191a1;
border:medium none;
color:#FFFFFF !important;
/* start - these changes fix the funky tags in IE */
display:inline-block;
line-height:100%;
padding:4px 6px;
/* end*/
text-shadow:0 1px 0 #3d515b;
white-space:nowrap;
text-decoration: none;
border-bottom: none !important;
}
.tags a:hover, .widget_tag_cloud a:hover, .tagcloud a:hover {
background:none repeat scroll 0 0 #5f7a88;
text-shadow:0 1px 0 #4a636f;
text-decoration: none !important;
}
.blog_article {
    margin-bottom: 15px;
}
.single .blog_article {
        padding-top: 10px;
}
.pagination {
    text-align: center;
    font-family: Georgia,arial,serif !important;
    font-size: 13px;
    font-style: italic;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-top: 1px dotted #c0c0c0;
    border-bottom: 1px dotted #c0c0c0;
    margin-bottom: 25px;
    background: url("img/pagination-bg.png") repeat scroll transparent;
}
.pagination span, .pagination a {
    margin-right: 10px;
    font-size: 18px;
    color: #51707F;
}
.single .blog_meta {
    margin-top: 0 !important;
}
.single #banner-content h1 {
    line-height: 55px;
    font-size: 28px;
}

.single #banner-content {
    padding: 35px 0 10px 0;
    text-align: left;
}
.authoravatar {
    float: left;
    margin: 8px 20px 15px 0;
}
.authoravatar img {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    padding: 4px;
}
.author {
    margin-bottom: 15px;
}

#comments ol {
    padding-left: 0;
}
.comment-info {
margin-bottom:15px;
overflow:hidden;
}
#comments ol {
    margin: 25px 0;
}
#comments ol li {
    margin-bottom: 30px;
}
#comments ol li ul .bio_info {
    width: 400px;
}
#comments ol li ul li ul .bio_info {
    width: 360px;
}
#comments ol li ul li ul li ul .bio_info {
    width: 320px;
}
#comments ol li ul li ul li ul li ul .bio_info {
    width: 280px;
}
#comments ol li ul li ul li ul li ul li ul .bio_info {
    width: 240px;
}
.children {
    margin-bottom: 13px;
}
#comments ol li ul li {
    padding-left: 40px;
    float: none !important;
    clear: both;
    min-height: 135px;
    width: auto !important;
}
.comment-info .avatar {
    float: left;
    margin-bottom: 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9E9E9;
    padding: 3px;
}

.bio, .comments {
    overflow: hidden;
    padding: 25px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.bio {

    margin-bottom: 35px;
}
.bio img, .comments img {
    float: left;
}
.bio_info {
    float: right;
    width: 440px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9E9E9;
    padding-bottom: 5px !important;
    line-height: 22px;
    padding: 20px;
    position: relative;
    text-decoration: none;

}
.bio_info p {
    margin-top: 10px;
}
.bio_info span {
    margin-bottom: 10px;
}
.bio_info a {
    color: #bc3c38;
}

.reply a {
    color: #bc3c38;
    float: right;
    border: none !important;
}
.url {
    color: #bc3c38;
}
#social {
    margin: 40px 0 25px 0;
}
#social ul {
    float: left;
    margin-top: 5px;
}
#social ul li {
    float: left;
    margin-right: 10px;
}
#social ul li a {
    border: none !important;
}
.comment-reply-link {
    background: url("img/comments.png") no-repeat scroll 0 6px transparent !important;
    margin-left: 7px !important;
    padding-left: 14px !important;
}
.comments-area {
   padding: 20px;
   padding-top: 10px;
   width: 590px !important;
}
.sidebar-right {
    float: right;
}
#blog_articles li {
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px dotted #bdbdbd;
}

#commentform span {
    font-style: italic;
    color: #51707F;
}
#commentform label {
    display: block;
    margin-bottom: 10px;
}
#s {
    width: 195px;
}
.submit {
    margin-top: 5px;
    cursor: pointer;
}
#searchsubmit {
    cursor: pointer;
    float: right !important;
    margin-left: 15px;
}
#portfolioItem {
    float: left;
}
#portfolioItem li {
    width: 260px;
    float: left;
	display:block;
    padding: 0 45px 35px 0;
}
#portfolioItem li a:hover {
	border-bottom: none!important;
}
.page-template-portfolio-left-php #portfolioItem li,.page-template-portfolio-right-php #portfolioItem li{
    padding-right: 40px;
    width: 250px !important;
}
.portfolioImg, .portfolioImg:hover {
    border-bottom: none !important;
}
.portfolioImg img {
    padding: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dcdcdc;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);

}
.portfolioTitle {
    display: block;
       font: 13px/20px "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
       margin-top: 8px;
       font-style: italic;
}
.page-template-portfolio-full-php .full {
    padding-bottom: 20px !important;
    width: 870px;
}
.page-template-portfolio-full-php .pagination {
    margin: 0 0 25px 0;
}
#searchform {
    margin-bottom: 25px;
}
#calendar_wrap {
    margin-bottom: 20px;
}
#calendar_wrap td {
    padding: 8px;
   
}
.last-posts, .category-archives, .monthly-archives {
    margin-bottom: 30px;
}
.gallery-icon a {
    border: none !important;
}
.gallery-icon img {
    padding: 8px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #dcdcdc !important;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    -o-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.13);
    height: 130px;
    width: 130px;
    margin-bottom: 15px;

}
.gallery {
    padding-top: 8px;
}

.slider-information span a {
    color: #e6cdab;
    border-bottom:1px dotted #e6cdab;
}
.slider-information span a:hover {
    color: #c5ac8a!important;
    border-bottom:1px solid #c5ac8a!important;
}

hr { color: inherit; height: 0; margin: 6px 0 6px 0; padding: 0; border: 1px solid #d9d9d9; border-style: none none solid; }

/*** contact form ***/

/* Form style */
#contact {
	float: left;
}
#adress {
	float: right;
	font-size: 22px;
	padding: 70px 0;
	line-height: 35px;
}
label { display: inline-block; float: left; height: 26px; line-height: 50px; width: 120px; font-size: 14px; }
input, textarea, select { margin: 0; padding: 8px; color: #666; background: #f5f5f5; border: 1px solid #ccc; margin: 10px 0; font:16px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif; }   
input:focus, textarea:focus, select:focus { border: 1px solid #999; background-color: #fff; color:#333; }
input.submit { cursor: pointer; border: 1px solid #222; background:#333; color:#fff; }
input.submit:hover { background:#444; }
fieldset { padding:20px; border:1px solid #eee; background: url(style/images/trans-mid.png); width:500px!important; float:left;}
legend { padding:7px 10px; font-weight:bold; color: #d35300; border:1px solid #eee; background:#fff; -moz-border-radius: 5px; -webkit-border-radius:5px; }
#subject {
	padding: 5px!important; font-size: 16px!important;
}
span.required{ font-size: 13px; color: #ff0000; } /* Select the colour of the * if the field is required. */

/* Style for the error message */

.error_message { display: block; height: 22px; line-height: 22px;  padding: 3px 10px 3px 35px; margin: 10px 0; color:#8a1f11;border: 1px solid #FBC2C4; -moz-border-radius: 5px; -webkit-border-radius:5px; }

#succsess_page p span { font-size:20px; color: green; margin-top:70px;}